{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Home/Blogs</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'Blog/style.css' %}" type="text/css">
    </head>
<body>
    <header class="Header">
        <div id="LogoDiv">
            <a href="{% url 'index' %}"><img id="Logo" src="{% static 'Images/JGBlogImage.png' %}" alt="JG Blog Logo" ></a>
        </div>
        <div id="TitleDiv">
            <h1>Blog Posts</h1>
        </div>
        <nav id="Nav">
            <span class="NavSpan">
                <a href="{% url 'About' %}">About Me </a>
                <span id="Pipe">|</span>
                <a href="{% url 'TechTips' %}">Tech Tips</a>
                <span id="Pipe">|</span>
                <a href="{% url 'NewPost' %}">Write A New Post</a>
            </span>
        </nav>
        </header>

        
        <div class="BodyDiv">
            
            <div class="AsideLeftDiv">
                <aside>
                    <h2>Here is my Aside</h2>
                    <ul>
                            <li>Vestibulum vel mauris a libero rhoncus consectetur a nec ipsum.</li>
                            <li>Nulla eget tellus sit amet neque egestas consequat.</li>
                            <li>Pellentesque ac neque ut arcu feugiat aliquet at ut libero.</li>
                            <li>Pellentesque in est quis nibh scelerisque volutpat.</li>
                            <li>Proin sit amet ipsum imperdiet nulla lacinia interdum.</li>
                            <li>Proin sed risus a diam condimentum congue.</li>
                            <li>Proin eget libero lacinia, consectetur justo quis, feugiat ante.</li>
                    </ul>
                </aside>
                <aside>
                        <h2>Here is another</h2>
                        <ul>
                                <li>Vestibulum vel mauris a libero rhoncus consectetur a nec ipsum.</li>
                                <li>Nulla eget tellus sit amet neque egestas consequat.</li>
                                <li>Pellentesque ac neque ut arcu feugiat aliquet at ut libero.</li>
                                <li>Pellentesque in est quis nibh scelerisque volutpat.</li>
                                <li>Proin sit amet ipsum imperdiet nulla lacinia interdum.</li>
                                <li>Proin sed risus a diam condimentum congue.</li>
                                <li>Proin eget libero lacinia, consectetur justo quis, feugiat ante.</li>
                        </ul>
                    </aside>
            </div>
            <div class="BlogMainDiv">   
                {% if BlogsList %}
                {% for Blog in BlogsList %}
                    <a href="{% url 'Post' Blog.id %}"> 
                            <article class="BlogDiv">
                                    <h2 class="BlogTitle">{{Blog.Title}}</h2>
                                    <p class="BlogAuthor">By: {{Blog.AuthorName}}</p>
                                    <p class="BlogDate">{{Blog.PostedDate}}</p>
                                    <p class="BlogDate">Comments: {{Blog.Comment_Count}}</p>
                                    <p class="BlogBody">{{Blog.Content|truncatewords:200}}</p>
                                    </article>
                    </a>
                {% endfor %}
                {% else %}
                    <p>No Blog Posts</p>
                {% endif %}

                <a style="margin-Top: 50px; color: white;" href="{% url 'Archive' %}">Show All Posts</a>
                </br>
                <a href="{% url 'NewPost' %}" style="margin-Top: 50px; color: white;">Write A New Post</a>
            </div>
            <div class="AsideRightDiv">
                    <aside>
                        <h2>This one is on the right side of the flex box</h2>
                        <ul>
                                <li>Vestibulum vel mauris a libero rhoncus consectetur a nec ipsum.</li>
                                <li>Nulla eget tellus sit amet neque egestas consequat.</li>
                                <li>Pellentesque ac neque ut arcu feugiat aliquet at ut libero.</li>
                                <li>Pellentesque in est quis nibh scelerisque volutpat.</li>
                                <li>Proin sit amet ipsum imperdiet nulla lacinia interdum.</li>
                                <li>Proin sed risus a diam condimentum congue.</li>
                                <li>Proin eget libero lacinia, consectetur justo quis, feugiat ante.</li>
                        </ul>
                    </aside>
                    <aside>
                            <h2>This one is too</h2>
                            <ul>
                                    <li>Vestibulum vel mauris a libero rhoncus consectetur a nec ipsum.</li>
                                    <li>Nulla eget tellus sit amet neque egestas consequat.</li>
                                    <li>Pellentesque ac neque ut arcu feugiat aliquet at ut libero.</li>
                                    <li>Pellentesque in est quis nibh scelerisque volutpat.</li>
                                    <li>Proin sit amet ipsum imperdiet nulla lacinia interdum.</li>
                                    <li>Proin sed risus a diam condimentum congue.</li>
                                    <li>Proin eget libero lacinia, consectetur justo quis, feugiat ante.</li>
                            </ul>
                        </aside>
                </div>
        </div>

        <footer style=" display: block;" >
            <p>&copy;Joseph Graves - 2018</p>
            <p>{{time}}</p>
        </footer>
    </body>

    


</html>

















